
@{
    ViewBag.Title = "Thêm nhân viên mới";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <form action="/Employee/Create" method="post">
        <div class="mb-3">
            <label for="EmpName" class="form-label">Tên nhân viên:</label>
            <input type="text" class="form-control" id="EmpName" name="EmpName" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Giới tính:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Male" name="Gender" value="Nam" required />
                <label class="form-check-label" for="Male">Nam</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Female" name="Gender" value="Nữ" required />
                <label class="form-check-label" for="Female">Nữ</label>
            </div>
        </div>

        <div class="mb-3">
            <label for="Image" class="form-label">Hình ảnh:</label>
            <input type="text" class="form-control" id="Image" name="Image"/>
        </div>

        <button type="submit" class="btn btn-primary">Thêm Nhân Viên</button>
    </form>
</div>