@model List<B3_ModelExample.Models.Employee>

@{
    ViewBag.Title = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Danh sách nhân viên</h2>

<table class="table table-bordered">
    <tr>
        <th>
            Mã nhân viên
        </th>
        <th>
            Tên nhân viên
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Ảnh nhân viên
        </th>
        <th></th>
    </tr>

    @foreach (var employee in Model) {
        <tr>
            <td>
                @employee.EmpID
            </td>
            <td>
                <a href="/Employee/Detail/@employee.EmpID">
                    @employee.EmpName
                </a>
            </td>
            <td>
                @employee.Gender
            </td>
            <td>
                <img src="@employee.Image" width="100px" /> 
            </td>
        </tr>
    }

</table>
