<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>About</title>
</head>
<body>
    <div>
        <h1 style="color: blue;">This is About page</h1>
    </div>
</body>
</html>
