<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>
    <div> 
        <h1 style="color: red;">This is Home page</h1>
        <h2>Hello World !!!</h2>
    </div>
</body>
</html>
