
@{
    ViewBag.Title = "Index";
    // Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h1>Index Page</h1>

<h3>Trọng Nghĩa - 2001100200</h3>

@section Sidebar {
    <li class="nav-item">
        <a class="nav-link" href="#">
            Kết quả học tập
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            Thời Khóa biểu
        </a>
    </li>
}